<div>
    <p class="aboutText">Kanye Omari West was born in Atlanta, Georgia, on June 8, 1977
    </p>
</div>
<div>
    <p class="aboutText">
        Kanye is one of the most successful artists in Grammy Awards history.
        As of 2017 he has won a total of 21 Grammys.
    </p>
</div>
<div class="albumList"> <span class="aboutText">Most famous albums </span>
    <ul>
        <li>The College Dropout</li>
        <li>Late Registration</li>
        <li>Graduation</li>
    </ul>
</div>