<div class="titleAbout">
    <h2>WHERE DOES KANYE (JESUS) COME FROM ? </h2>
</div>

<div class="int">
    <article class="aboutText">Kanye Omari West was born in Atlanta, Georgia, on June 8, 1977
        Kanye is one of the most successful artists in Grammy Awards history.
        As of 2017 he has won a total of 21 Grammys.
    </article>
    <img class="albumImg" src="/img/youngk.jpg" alt="young kanye" />
    <img class="albumImg" src="/img/teenk.jpg" alt="young kanye" />
</div>
<br>
<br>
<div class="titleAbout">
    <h2>MOST FAMOUS ALBUMS</h2>
</div>

<br>

<section class="albumPart">
    <div class="album">
        <h3 class="albumTitle">The College Dropout</h3>
        <img class="albumImg" src="/img/dropout.png" alt="college dropout pic">
    </div>

    <div class="album">
        <h3 class="albumTitle">Late Registration</h3>
        <img class="albumImg" src="/img/registration.jpg" alt="college dropout pic">
    </div>

    <div class="album">
        <h3 class="albumTitle"> Graduation</h3>
        <img class="albumImg" src="/img/graduation.jpg" alt="college dropout pic">
    </div>

</section>

<div class="titleAbout">
    <h2>HIS BEAUTIFUL NATURAL WIFE</h2>
</div>

<section class="albumPart">
    <div class="album">
        <h3 class="albumTitle">FUNNY</h3>
        <img class="albumImg" src="/img/kim1.jpeg" alt="college dropout pic">
    </div>

    <div class="album">
        <h3 class="albumTitle">ADMIRATIVE</h3>
        <img class="albumImg" src="/img/kim2.jpg" alt="college dropout pic">
    </div>

    <div class="album">
        <h3 class="albumTitle"> PURE LOVE !!!</h3>
        <img class="albumImg" src="/img/kim3.jpeg" alt=" college dropout pic">
    </div>

</section>