<div class="titleHome">
    <img src="/img/kanye2.png" class="kanyeImg">
    <h1>Hello! My name is <br> Kanye West</h1>
    <img src="/img/kanye2.png" class="kanyeImg">
</div>
<br>
<div class="titleHome">
    <p> On this website, you will find the most interesting and up-to-date information about Kanye West
    </p>
</div>
<div class="titleHome">
    <p>Stay tuned!</p>
</div>